.box {
  height: 80vh;
  border-radius: 3px;
  background-color: #ecf0f1;
  padding: 35px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.country-select {
  width: 70%;
  margin: 0 auto;
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.chart {
  width: 40%;
  margin: 0 auto;
  /* position: relative; */
}

.chart-col {
  text-align: center;
}

.circle-chart {
  position: relative;
}

/* .feature {
  position: absolute;
  top: 0%;
  left: 0%;
} */
